@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-5">
    <h1>Play Hangman!</h1>
</div>
<div class="row bg-secondary p-3">
    <h4>Instructions</h4>
</div>
<div class="row m-3 text-center">
    <p>
        You will be presented with blanks, specifying the amount of letters in the secret word. You can then
        choose a letter. If the secret word contains that letter, it will show up in the correct blank(s). If the secret word does not
        contain the picked letter, a part of Mr. Hangman’s body will be drawn. You keep going; if you guess the word
        before Mr. Hangman is complete, you win! If Mr. Hangman is complete before the whole word is
        guessed, you lost:(
    </p>
</div>
<div class="row text-center">
    <picture>
@*   <source media="(min-width: 465px)" srcset="file-small.jpg" />
  <source media="(min-width: 650px)" srcset="file-medium.jpg" /> *@
  <img src="/images/hangmanScreenshot.png" alt="Game Picture" class="img-fluid border" style="max-width:600px" />
</picture>
</div>